body
{
    margin: 0;
    padding: 0;
    background-color: #FFF2F2;
}
.sidebar
{
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
}
.left
{
    width: 410px;
    background-color: #F47C7C;
    padding: 20px 0;
    border-radius: 0px 50px 50px 0px;
}
.right
{
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
.selected{
    padding-top: 50px;
}
.left .icon
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    width: 410;
    padding: 0% 15% 0 15%;
}
.right .icon
{
    display: grid;
    grid-template-columns: auto auto auto;
  
}
.selected #selected_date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.selected #selected_day{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 32;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topbar
{
    display: grid;
    margin-left: 25%;
    grid-template-columns: auto auto auto;
    color: black;
    font-size: 32;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.weekdays
{
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 30px;
    color: black;
    align-items: center;
    font-size: 16 ;
    font-weight: regular;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.days
{
display: grid;
align-items: center;
justify-items: center;
grid-template-columns: repeat(7, 1fr);
}
.days p {
  padding: 20%;
}

.previous_month, .next_month
{
color: #FAD4D4;
}
.previous_days, .next_days
{
visibility: hidden;
}
.days p:hover
{
    background-color: #F47C7C;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}
.has_app{
    background-color: #FAD4D4;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}
.today{
   border-radius: 15px;
   border-color: red;
   border-style: solid;
   border-width: 2px;
}