body
{
    margin: 0;
    padding: 0;
    background-color: #FFF2F2;
}


.right
{
    display: grid;
    position: relative;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
.selected{
    padding-top: 50px;
}

.icon
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
  
}
.topbar
{
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    font-size: 32;
    font-weight: bolder;
    padding-top: 5%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.weekdays
{
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 30px;
    color: black;
    align-items: center;
    font-size: 16 ;
    font-weight: regular;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.days
{
display: grid;
align-items: center;
justify-items: center;
}
.days p {
  padding: 10%;
}

.previous_month, .next_month
{
color: #FAD4D4;
}
.previous_days, .next_days
{
visibility: hidden;
}
.days p:hover
{
    background-color: #F47C7C;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}
.has_app{
    background-color: #FAD4D4;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}
.today{
   border-radius: 15px;
   border-color: red;
   border-style: solid;
   border-width: 2px;
}